* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
}

.nav__links li a:hover {
  color: #0088a9;
  text-decoration: none;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }
}

/* Website Body */
body {
  margin: 0px;
}

#main {
  width: 100%;
  height: 100vh;
  background: #212228;
  position: absolute;
  overflow: hidden;
}

#bgtext {
  font-family: 'Calibri';
  font-size: 10em;
  color: rgb(37, 38, 44);
  letter-spacing: 0.5em;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 100px;
  line-height: 300px;
}

.gridline {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 10%;
  margin: 0 0 0 -5%;
  border-right: 1px solid rgb(37, 38, 44);
  transform-origin: 100% 50%;
}

.gridline:nth-child(2) {
  left: 10%;
  right: 10%;
}

.gridline:nth-child(3) {
  left: 20%;
  right: 20%;
}

.gridline:nth-child(4) {
  left: 30%;
  right: 30%;
}

.gridline:nth-child(5) {
  left: 40%;
  right: 40%;
}

.gridline:nth-child(6) {
  left: 50%;
  right: 50%;
}

.gridline:nth-child(7) {
  left: 60%;
  right: 60%;
}

.gridline:nth-child(8) {
  left: 70%;
  right: 70%;
}

.gridline:nth-child(9) {
  left: 80%;
  right: 80%;
}

.gridline:nth-child(10) {
  left: 90%;
  right: 90%;
}

.gridline:nth-child(11) {
  left: 100%;
  right: 100%;
}

#logo {
  position: absolute;
  left: 50px;
  top: 30px;
}

#logo img {
  width: 40px;
}

#menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  position: absolute;
  top: 55%;
  left: -170px;
  transform: rotate(-90deg);
}

#menu ul {
  list-style: none;
  color: white;
  text-decoration: none;
}

#menu ul a {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}

#menu ul a:hover {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 10px;
  text-align: center;
  color: bisque;
  text-decoration: none;
  cursor: pointer;
}

#imgs img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img2 {
  width: 100%;
}

#img3 {
  width: 20%;
  margin-top: -50px;
}

#img4 {
  width: 90%;
}

@media screen and (max-width: 1024px) {
  #img3 {
    margin-top: -150px;
    width: 40%;
  }

  #img2 {
    margin-top: -150px;
  }

  #img4 {
    margin-top: -150px;
  }
}